<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">FitApp</title>
<link rel="stylesheet"
	href="css/vendor/css/bootstrap.css" />
<script src="js/vendor/angular.js"></script>
<script src="js/vendor/angular-resource.js"></script>
</head>

<body>
	<div th:replace="layout/header :: header"></div>
	<div class="container">
		<div layout:fragment="content"></div>
	</div>
</body>
</html>