<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main-layout">
<head>
<title>Activities</title>
</head>
<body>
	<div layout:fragment="content">
		<div data-ng-app="activitiesMain">
			<div data-ng-controller="activitiesController" class="row">
				<div class="col-md-offset-2 col-md-8 ">
					<div th:replace="activities/insert-new :: insert-new"></div>
				</div>
				<div class="col-md-offset-2 col-md-8 ">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>id</th>
								<th>name</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="activity in activities">
								<td>{{ activity.id }}</td>
								<td>{{ activity.name }}</td>
							</tr>
						</tbody>
					</table>
					<div data-pagination="" data-items-per-page ="size" data-total-items="totalItems" data-ng-model="page"
						data-max-size="size" data-ng-change = "paginate()" class="pagination-sm"></div>
				</div>
			</div>

		</div>

		<script src="js/internal/activities/activitiesMain.js"></script>
		<script src="js/internal/activities/activitiesService.js"></script>
		<script src="js/internal/activities/activitiesController.js"></script>
	</div>

</body>
</html>